/* Feuille de styles CSS */
body
{
  background: rgb(158, 135, 158);
}
h1
{
  font-size: 26px ;
  text-align: center;
  color :yellow;
}
a:hover
{
  text-shadow:6px 6px 6px black;
  color:black;
}

p,ul,li
{
  color :white;
  font-family: sans-serif
}
.imgvisuel
{
  text-align: right;
  background: rgb(158,135,158);
}
h2
{
  color :red;
}
.usage
{
  text-decoration:underline;
}
.cursive
{
  font-family: cursive;
}
#plat
{
  color:blue;
  font-size:15px;
}
.gras
{
font-weight:bold;
}
.cool
{
  color:rgb(0, 225, 255)  ;
}

.intro
{
  border: 3px  blue dotted;
  border-radius: 20px / 10px;
  
  text-shadow:6px 6px 6px;
  padding:5px;
}
.image
{
  text-align: center;
}
a
{
  text-decoration: none;
  
}
